body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Hauteur minimale : 100% de la hauteur de la fenêtre */
    width: 100%; /* Largeur : 100% de la fenêtre */
    font-family: Arial, sans-serif;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button img{
    height: 45%;
    width: 45%;
}

#piano-logo{
    height: 20%;
    width: 20%;
}

button {
    
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid, rebeccapurple;
    border-radius: 10%;
    font-size: 16px;
}

#main-content {
    display: none;
    width: 100%; /* S'assure que le contenu principal ne dépasse pas la largeur */
    text-align: center;
}

/* Alignement des labels et des champs */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px; /* Espacement entre les éléments */
}

label {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px; /* Largeur des champs */
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
}

#logout-button{
    display: none;
}